* {
    margin: 0;
    Padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --background-light: aliceblue;
    --background-medium: rgb(71, 54, 106);
    --border-medium: 10px solid rgb(50, 50, 132);
    --border-light: 10px solid rgb(196, 180, 217);
    --text-dark: rgb(39, 22, 49);
    --text-light: rgb(196, 180, 217);
}



.banner {
    height: 300vh;
    max-height: fit-content;
    width:100%;
    background-image: linear-Gradient(rgba(237, 231, 231, 0.75), rgba(0, 0, 0, .75)), url(background1.png);
}


a {
    color: rgb(5, 37, 60);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    height:fit-content;
}

.header {
    background-color: rgb(139, 195, 195);
    opacity: 0.5;
    border-radius: 15%;
}

h1 {
    display: flex;
    font-size: 40px;
    font-style: italic;
    color: rgb(50, 50, 132);
    color: var(--text-dark);
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    width: 90%;
    margin: auto;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
    z-index: 100px;
}

.navbar ul li {
    display:flex;
    position:relative;
    justify-content: flex-end;
    right: 0px;
    padding: 0px;
    margin: 0 0px;

}


.navbar ul li a {
    text-decoration: none;
    color: rgb(50, 50, 132);
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #44246b;
    position: absolute;
    left: 0%;
    bottom: 0;
    transition: 0.5s;
}


.navbar ul li:hover::after {
    width: 100%;
}


.header {
    background-color: rgb(205, 196, 211);
}

/* left section of the site */
.content {
    display: inline-block;
    width: 100%;
    max-height: 90%;
    color: rgb(39, 22, 49);
    background-color: aliceblue;
    opacity: 70%;
    border-radius: 5%;
}

h2,
h3 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    font-weight: 300px;
    margin-right: 0%;
    padding: 20px;
}

h4 {
    display: inline-flex;
    justify-content: center;
    font-size: 20px;
    color: whitesmoke;
    padding: 15px;
}


.content p {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    font-weight: 100;
    line-height: 25px;

}

.description {
    color: rgb(196, 180, 217);
    text-align: center;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 100;
    line-height: 25px;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 10px;
    flex-wrap: wrap;
    max-width: 90%;
    position: relative;
}

.titleportfolio {
    display: block;
    width: 100%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    max-height: 800px;
    font-size: small;
    text-align: center;
    border-radius: 20px;
    margin-top: 5%;
    justify-content: left;

}
.portfolioitem1 {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 15%;
    border: 10px solid rgb(196, 180, 217);
    background-color: #451f54;
    text-decoration: none;
    color: rgb(196, 180, 217);
}
.portfolioitem {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 15%;
    border: 10px solid rgb(196, 180, 217);
    background-color: #451f54;
    text-decoration: none;
    color: rgb(196, 180, 217);
}

.portfolioitem1 img {
    float:left;
    display: flex;
    Position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    left: -5px;
    width: 250px;
    height: 200px;
    margin-top: 50px;
    border-radius: 15%;
    float:left;
}

.portfolioitem img {
    display: flex;
    Position: absolute;
    justify-content: center;
    width: 100px;
    height: 90px;
    border-radius: 15%;
    border: 2px solid aliceblue;
   
}

.portfolioitem img:hover {
    transform: translateY(-10px);
    transform: translateX(30px);
}
.portfolioitem1 img {
    display: flex;
    Position: absolute;
    justify-content: space-around;
    margin-right: 20px;
    margin-top: -20px;
    width: 150px;
    height: 150px;
    border-radius: 15%;
    border: 2px solid aliceblue;

}

.portfolioitem1 img:hover {
    transform: translateY(-10px);
    transform: translateX(30px);
}

/* right section of the site - "aside class sidebar" */

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    
}

.sidebarsections {
    padding: 10px;
    background-color: aliceblue;
    opacity: 70%;
    width: 100%;
    border-radius: 10%;
    color: var(--text-dark);

}

.sidebar h3 {
    font-size: 24px;
    margin-top: 15px auto;
    margin-right: 50px;
    font-weight: 300px;
}

/* top right image functions with Animation and alone */
#flower {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: right;
    margin-top: 30px;
    margin-right: 11%;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
}


.credentials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: small;
    color: var(--text-dark)
}

.asidesection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    max-width: 80%;
    color: var(--text-dark)
}

button {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: rgb(63, 31, 71);
    color: white;
    border-radius: 15px;
    padding: 2px;

    transition: transform 0.3s;
    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0; */
}


.btn:hover {
    transform: translateY(-10px);
    background-color: hotpink;
    color: white;

}

.linklist:hover {
    transform: translateY(-10px);
    color: white;

}

.top {
    position: fixed;
    bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}


/* keyframes for animations */

@keyframes flowerslide {
    from {
        transform: translatex(-300px);
    }

    to {
        transform: translatex(0);

    }
}


@keyframes flowerspin {

    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.flowerspin {
    animation: flowerspin 10s ease-in 0s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }

}

.bounce {
    animation-name: bounce;
}

.bounce {
    animation: bounce 1s ease 5s;
    animation-iteration-count: 2;
}

form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

textarea {
    max-height: 300px;
    max-width: 300px;
}

input,
textarea {
    border: 3px solid #5d2e75;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}

::placeholder {
    color: purple;
    opacity: 1;
}


/* Media Queries */

/* For Mobile Phone: */
@media screen and (min-width: 400px) {

    .navbar ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner {
        display: flex;
        width: 100%;
        gap: 20px;
        padding: 16px;

    }

    .content {
        flex: 2;
    }

    .sidebar {
        flex: 1;
    }
}


 @media screen and (max-width: 300px) { 
    .banner {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 16px;

    }
    .navbar ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .content {
        flex: 2;

    }

    .sidebar {
        flex: 1;
    }
    .navbar ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* content */
    .banner {
        display: flex;
        gap: 16px;
       

    }
}
/* @media screen and (max-width: 575px) {

    .navbar {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .content {
        flex: 2;
    }

    .sidebar {
        flex: 1;
    }
    .flower {
        width: 0;
        height: 0;
    }
} */